.Footer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
	height: 100px;
	font-size: 0.75rem;
}

.Footer a {
	text-decoration: underline;
}

.Footer i {
	color: #1ed760;
}